<div class="card-container">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="text-center">Títulos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/DinoRed.png" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button>Mostrar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="text-center">Certificados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/DinoRed.png" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button>Mostrar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="text-center">Formación complementaria</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/DinoRed.png" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button>Mostrar</button>
    </mat-card-actions>
  </mat-card>

  <div class="experiencia-laboral">
    <h2>Experiencia laboral</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aliquam, distinctio ut, delectus harum et quo optio qui nesciunt, perspiciatis nam itaque quos id excepturi hic error illum cum fugit!
      Quasi repellat maiores asperiores hic ipsam nobis laborum natus eos, modi neque nisi deserunt minus, perferendis, nulla iste quo obcaecati. Necessitatibus labore unde iusto sequi facere itaque totam ut doloribus.
      Expedita quaerat quasi odio provident, modi eum quidem qui iusto. Dolores corporis facere quisquam commodi unde ipsa possimus distinctio soluta reprehenderit vitae nam laboriosam praesentium dolorum quidem facilis, cupiditate officia!
      Similique aut necessitatibus quaerat excepturi. Temporibus explicabo laudantium ad voluptatem aspernatur officiis reprehenderit. Doloribus aut molestiae adipisci modi exercitationem temporibus nobis asperiores laborum corrupti, possimus corporis autem minima saepe pariatur.
      Sapiente illum reiciendis, tempore reprehenderit quas, veritatis error atque magnam, animi repellat similique officia sequi provident! Illo ad provident culpa explicabo voluptatem. Sed, amet asperiores. Voluptatibus consectetur corrupti nam totam!
    </p>
  </div>

  <div class="experiencia-laboral">
    <h2>Experiencia laboral</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aliquam, distinctio ut, delectus harum et quo optio qui nesciunt, perspiciatis nam itaque quos id excepturi hic error illum cum fugit!
      Quasi repellat maiores asperiores hic ipsam nobis laborum natus eos, modi neque nisi deserunt minus, perferendis, nulla iste quo obcaecati. Necessitatibus labore unde iusto sequi facere itaque totam ut doloribus.
      Expedita quaerat quasi odio provident, modi eum quidem qui iusto. Dolores corporis facere quisquam commodi unde ipsa possimus distinctio soluta reprehenderit vitae nam laboriosam praesentium dolorum quidem facilis, cupiditate officia!
      Similique aut necessitatibus quaerat excepturi. Temporibus explicabo laudantium ad voluptatem aspernatur officiis reprehenderit. Doloribus aut molestiae adipisci modi exercitationem temporibus nobis asperiores laborum corrupti, possimus corporis autem minima saepe pariatur.
      Sapiente illum reiciendis, tempore reprehenderit quas, veritatis error atque magnam, animi repellat similique officia sequi provident! Illo ad provident culpa explicabo voluptatem. Sed, amet asperiores. Voluptatibus consectetur corrupti nam totam!
    </p>
  </div>

  <div class="experiencia-laboral">
    <h2>Experiencia laboral</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aliquam, distinctio ut, delectus harum et quo optio qui nesciunt, perspiciatis nam itaque quos id excepturi hic error illum cum fugit!
      Quasi repellat maiores asperiores hic ipsam nobis laborum natus eos, modi neque nisi deserunt minus, perferendis, nulla iste quo obcaecati. Necessitatibus labore unde iusto sequi facere itaque totam ut doloribus.
      Expedita quaerat quasi odio provident, modi eum quidem qui iusto. Dolores corporis facere quisquam commodi unde ipsa possimus distinctio soluta reprehenderit vitae nam laboriosam praesentium dolorum quidem facilis, cupiditate officia!
      Similique aut necessitatibus quaerat excepturi. Temporibus explicabo laudantium ad voluptatem aspernatur officiis reprehenderit. Doloribus aut molestiae adipisci modi exercitationem temporibus nobis asperiores laborum corrupti, possimus corporis autem minima saepe pariatur.
      Sapiente illum reiciendis, tempore reprehenderit quas, veritatis error atque magnam, animi repellat similique officia sequi provident! Illo ad provident culpa explicabo voluptatem. Sed, amet asperiores. Voluptatibus consectetur corrupti nam totam!
    </p>
  </div>

</div>
