<div class="contacto">
  <a href="https://www.linkedin.com/in/melvin-maldonado-924514181/"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"/></a>
  <a href="https://github.com/melvinmaldonado22"><img src="/assets/githubAzul.webp" /></a>
</div>
<div class="card-container">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="text-center">Títulos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/titulo-mini.webp" (click)="abrirVisor(opcion[0])">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="text-center">Certificados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/certificado-mini.webp" (click)="abrirVisor(opcion[1])">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="text-center">Formación complementaria</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/complementario-mini.webp" (click)="abrirVisor(opcion[2])">
  </mat-card>
  <div class="experiencia-laboral">
    <div>
      <div class="contenedor">
        <div class="linea mt-5"></div>
        <div>
            <h1>Información personal</h1>
        </div>
        <div class="linea"></div>
      </div>
      <div class="info-personal">
        <h2>Melvin Eduardo Maldonado Moncada</h2>
        <h5>Formación profesional: Ingeniero en siatemas</h5>
        <h5>Estudios actuales: Pasante por egresar del Diplomado en educación superior (UPNFM)</h5>
        <h5>Correo: xmelvinymaldonadozmoncada@gmail.com</h5>
        <h5>Contacto: +504 3246-9726</h5>
      </div>
    </div>
    <div class="contenedor">
      <div class="linea mt-5"></div>
      <div>
          <h1>Experiencia laboral</h1>
      </div>
      <div class="linea"></div>
    </div>
    <h2>Administración Nacional de Servicio Civil (ANSEC)</h2>
    <h4>Desarrollador web Full Stack</h4>
    <h6> 2024 </h6>
    <div class="contenedor-experiencias">
      <div>
        <div>
          <strong>Frontend: </strong>
          <p></p>
          <p> Construcción de formularios de registro con Vue</p>
          <p> Creación de componentes con Vue 3</p>
          <p> Diseños y animaciones con TailWind CSS</p>
          <p> Consumo de API's con JavaScript y Vue 3</p>
          <p> Diseño UI/UX con Figma</p>
          <p> Patrón de diseño MVC y MVVM</p>
          <p> Mantenimiento de módulos con Jquery y JavaScript </p>
        </div>
      </div>
      <div>
        <div>
          <strong>Backend: </strong>
          <p></p>
          <p> Desarrollo en PHP Framework (Laravel 11)</p>
          <p> Mantenimiento en PHP puro con AJAX</p>
          <p> Desarrollo de API Rest full</p>
          <p> Seguridad con JWT y middleware de autenticación </p>
          <p> Base de datos MySQL y MongoDB</p>
          <p> Diseño de base de datos, modelo relacional</p>
          <p> Programación de base de datos (DDL, DML, SQL, TCL, DCL)</p>
        </div>
      </div>
      <img class="img-experiencia" src="/assets/fullstack.webp">
    </div>
    <div class="linea"></div>
    <h2>COORPOCENTRO (VTV Canal 9)</h2>
    <h4>Desarrollador web Full Stack</h4>
    <h6> 2023 - 2024 </h6>
    <div class="contenedor-experiencias">
      <img class="img-experiencia" src="/assets/fullstack.webp">
      <div>
        <div>
          <strong>Frontend: </strong>
          <p></p>
          <p> Creación de componentes y control de rutas con Angular</p>
          <p> Diseños y animaciones con CSS3</p>
          <p> Consumo de API's con Angular httpClient</p>
          <p> Diseño UI/UX con Figma</p>
          <p> Patrón de diseño MVC</p>
          <p> Autenticacón con JWT</p>
        </div>
      </div>
      <div>
        <div>
          <strong>Backend: </strong>
          <p></p>
          <p> Desarrollo en NodeJS y framework (ExpressJS)</p>
          <p> Desarrollo de API Rest full</p>
          <p> Seguridad con JWT y cookies </p>
          <p> Base de datos MongoDB</p>
          <p> Diseño de colecciones y doucumentos MongoDB</p>
          <p> Administración de usuarios y soporte</p>
        </div>
      </div>
    </div>

    <div class="linea"></div>
    <div class="contenedor-experiencias">
      <div>
        <h4>Técnico de TI</h4>
          <h6> 2020 - 2022</h6>
          <p><strong>Instalación de redes: </strong> Configuración de router Mikrotik y Fortigate, subneteo de redes ipv4, instalación de infraestructura de red.</p>
          <p><strong>Configuración de servidores Windows: </strong> Configuración de servidor de correo y configuración de active directory.</p>
          <p><strong>Configuración servidores HDX Hardata para estaciones de radio: </strong>Instalación de programa HarData y asignación de ip, configuración del programa para su uso.</p>
          <p><strong>Soporte técnico: </strong> Ingreso de usuarios al dominio, gestion de contraseñas, instalación de software, reparación y mantenimiento de computadoras.</p>
      </div>
      <img class="img-experiencia" src="/assets/tecnicoti.webp">
    </div>
    

    <div class="linea"></div>
    <div class="contenedor-experiencias">
      <img class="img-experiencia" src="/assets/tecnicoproduccion.webp">
      <div>
        <h4>Técnico de Producción</h4>
        <h6> 2011 - 2020</h6>
        <p><strong>Operador de Máster: </strong> Encargado de trasmitir todos los programas del canal, uso de programas como: CG5, Nexio, Xplayout, Youplay, IconStation.</p>
        <p><strong>Director de cámaras: </strong> Encargado de la dirección de las tomas de cada cámara dentro y fuera de los estudios de transmisión. Uso de siwtcher IconMaster y tricaster.</p>
        <p><strong>Sonidista: </strong> Encargado de la consola de audio para el control de micrófonos, llamadas telefónicas y uso de virtualDj para música de ambiente.</p>
        <p><strong>Camarógrafo: </strong> Uso de cámaras Sony NX3.</p>
        <p><strong>Editor de programación: </strong> Uso de programas de edición como: Adobe premier, Adobe illustrator, Adobe photoshop, sony vegas.</p>
      </div>
    </div>
  </div>
</div>