<div class="card-container">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="text-center">Títulos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/titulo-mini.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="text-center">Certificados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/certificado-mini.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="text-center">Formación complementaria</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/complementario-mini.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <div class="experiencia-laboral">
    <h2>Experiencia laboral (VTV Canal 9)</h2>
    <h4>Desarrollador web Full-Stack</h4>
    <h6> 2022 - 2023</h6>
    <p>Diseño y maquetación web (Login, Formularios de registro, Landing-Page).</p>
    <p>Creación de rutas web y consumo de servicios Rest API.</p>
    <p>Diseño y creación de bases de datos SQL y NoSQL. (MongoDB, MySQL, SQL-Server)</p>

    <div class="linea"></div>

    <h4>Técnico de TI</h4>
    <h6> 2020 - 2022</h6>
    <p>Instalación de redes (Microtik, Ubiquiti)</p>
    <p>Configuración de servidores Windows</p>
    <p>Configuración servidores HDX Hardata para estaciones de radio</p>
    <p>Soporte técnico al usuario</p>

    <div class="linea"></div>

    <h4>Técnico de Producción</h4>
    <h6> 2011 - 2020</h6>
    <p>Operador de Máster</p>
    <p>Director de cámaras</p>
    <p>Sonidista</p>
    <p>Camarógrafo</p>
    <p>Editor de programación</p>

  </div>
</div>
