<div class="contenedor">
    <div class="linea mt-5"></div>
    <div>
        <h1>Proyectos realizados</h1>
    </div>
    <div class="linea mt-5"></div>
</div>
<div class="parent">
    <div class="div1"> 
        <div class="proyecto-1">
            <div>
                <h2>Descanso nómada</h2>
                <h4>Stack: PERN</h4>
                <h5>Terminado</h5>
                <p>
                    Fue desarrollado utilizando React para el frontend y Node.js para el backend y postgres para la base de datos, combinando estas tecnologías se crea una experiencia de usuario fluida y eficiente. Este proyecto no solo facilita la búsqueda de opciones de alojamiento asequibles, sino que también optimiza el proceso de planificación de viajes, proporcionando a los usuarios una herramienta poderosa y confiable para sus necesidades de hospedaje.
                </p>
            </div>
            <div class="ver-proyecto">
                <img src="/assets/DescansoNomada.png">
                <button mat-raised-button color="primary">Ver proyecto</button>
            </div>
        </div>
    </div>

    <div class="div2">
        <div class="proyecto-2">
            <div class="ver-proyecto">
                <img src="/assets/pideloYa.png">
                <button mat-raised-button color="primary">Ver proyecto</button>
            </div>
            <div>
                <h2>Pídelo YA</h2>
                <h4>Stack: MSSRJ</h4>
                <h5>Terminado.</h5>
                <p>
                    Con el objetivo de practicar y familiarizarme con nuevas tecnologías. En este proyecto, utilicé Java con Spring Boot y Hibernate para el backend, SQL Server como base de datos y React para el frontend. Este ejercicio me permitió adquirir conocimientos prácticos y profundizar en el uso de estas herramientas, mejorando mis habilidades en desarrollo full-stack y permitiéndome enfrentar desafíos técnicos complejos de manera efectiva.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="parent">
    <div class="div1"> 
        <div class="proyecto-1">
            <div>
                <h2>Tómbola electrónica</h2>
                <h4>Stack: MEAN</h4>
                <h5>Terminado</h5>
                <p>Proyecto realizado para la empresa de telecomunicaciones <strong>COORPOCENTRO</strong> con la finalidad de tener una base de datos de personas que son fieles televidentes al canal 9 (VTV), 
                    con esto poder realizar un sorteo en vivo durante la transmisión de los programas que tiene el canal, se muestra el numero de teléfono ganador en la parte inferior de la pantalla.
                </p>
            </div>
            <div class="ver-proyecto">
                <img src="/assets/login-tombola.webp">
                <button mat-raised-button color="primary">Ver proyecto</button>
            </div>
        </div>
    </div>

    <div class="div2">
        <div class="proyecto-2">
            <div class="ver-proyecto">
                <img src="/assets/login-reservaciones-VTV.webp">
                <button mat-raised-button color="primary">Ver proyecto</button>
            </div>
            <div>
                <h2>Calendario de reservaciones</h2>
                <h4>Stack: MEAN</h4>
                <h5>Terminado.</h5>
                <p>Proyecto realizado para la empresa de telecomunicaciones <strong>COORPOCENTRO</strong> con la finalidad de tener un control de las horas de uso de los estudios de grabación, con esto se hace una reservasión
                    indicando fecha y hora, para tener un control y evitar choques de horarios de grabación.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="parent">
    <div class="div1"> 
        <div class="proyecto-1">
            <div>
                <h2>Proyecto E-commerce</h2>
                <h4>Stack: MEJN</h4>
                <h5>En proceso...</h5>
                <p>Proyecto personal para enriquecer y reforzar conocimientos fundamentales del desarrollo web, se realizó con un compañero en equipo 
                    aplicando metodologias águiles como Scrum y Kanban (uso de trello).
                </p>
            </div>
            <div class="ver-proyecto">
                <img src="/assets/Login-Ecomerce.webp">
                <button mat-raised-button color="primary">Ver proyecto</button>
            </div>
        </div>
    </div>

    <div class="div2">
        <div class="proyecto-2">
            <div class="ver-proyecto">
                <img src="/assets/login-otaku.webp">
                <button mat-raised-button color="primary">Ver proyecto</button>
            </div>
            <div>
                <h2>Test de preguntas anime (Juego)</h2>
                <h4>Stack: MERT</h4>
                <h5>En proceso...</h5>
                <p>Proyecto realizado para expandir los conocimientos en desarrollo frontend y backend, con TypeScript se configuró un Rest API para el contenido de las preguntas y respuestas,
                    se consumió ese servicio con en el framework ReactJS o libreria para muchos, se utilizó una base de datos en la nube con mongoDb atlas. La aplicación se utiliza en el programa de Tv. PowerUp, para regalar premios al mas conocedor sobre el anime y manga.
                </p>
            </div>
        </div>
    </div>
</div>