<div class="sobre-mi">
    <div class="contenedor-sobre-mi">
        <h2>Sobre mí:</h2>
        <h5>Secundaria y primer trabajo</h5>
        <h4>
            Hola, mi nombre es Melvin Eduardo Maldonado Moncada, vivo en Honduras, estudié electrónica en el Instituto Técnico Saúl Zelaya Jiménez, realicé mi práctica profesional en un canal de televisión en el año 2010, en ese momento la empresa contaba con 3 canales de televisión (30, 12 y 8), desempeñando el puesto de operador de máster (departamento encargado de realizar toda la transmisión de programas al aire, tanto en vivo como programas enlatados o programas grabados como series, novelas, etc.). Luego aprendí el manejo de cámaras de estudio en programas en vivo como revistas de entretenimiento y noticieros. Tiempo después aprendí sonido, VTR, rotulaciones y dirección de cámaras, luego fui promovido al departamento de edición en donde aprendí a utilizar programas de diseño gráfico (suite Adobe) para editar programación y comerciales de clientes del canal.
        </h4>
        <h4>
            Durante ese tiempo en mis ratos libres me dediqué a la reparación de aparatos electrónicos (televisores, radios y computadoras) gracias a los conocimientos obtenidos al terminar los cursos sobre reparación y mantenimiento de computadoras e instalaciones eléctricas industriales en el Instituto Nacional de Formación Profesional (INFOP), también dedicaba algunos fines de semana a realizar trabajos de instalador eléctrico residencial con un familiar que solicitaba mi ayuda en ocasiones, así aprovechaba a ganar un dinero extra.
        </h4> 
        <h5>Universidad, trabajo y práctica profesional</h5>
        <h4>   
            Fue a finales del año 2011 que decidí entrar a estudiar a la universidad, me enlisté para la prueba de actitud académica (PAA) en la Universidad Nacional Autónoma de Honduras (UNAH), la cual aprobé y empecé mi carrera profesional para lograr mi título de Ingeniero en sistemas. A lo largo de mi carrera fui enriqueciendo mis conocimientos en el área de programación y bases de datos ya que han sido las áreas que más me han gustado, aunque recibí conocimiento acerca de redes de datos y seguridad informática, estos no fueron tan extensos como los anteriores, pero logré aprender también a nivel básico acerca de estas dos grandes áreas de la informática.
        </h4>
        <h4>
            Mientras estudiaba mi carrera universitaria se dieron algunos cambios en mi trabajo, la empresa cambió de dueños y se adquirieron otros canales de televisión, se actualizó la tecnología para mejorar el funcionamiento de cada canal, de esta manera me encontraba en constante aprendizaje tanto en mi trabajo como en la universidad y así fue como empecé a estar en constante aprendizaje, por esta razón me gusta reforzar y actualizar mis conocimientos en el área profesional que desempeño. Cuando al fin logré terminar mi pensum en la universidad, solicité nuevamente la oportunidad de realizar la práctica profesional en dicha empresa.
        </h4>
        <h4>
            Para ese momento yo me estaba orientando bastante por la rama del desarrollo web, por lo tanto, propuse la realización de 2 proyectos durante mi práctica. El primero se trataba de un sorteo capaz de elegir aleatoriamente un ganador que se ha registrado en una base de datos y así poder mostrar en pantalla el número telefónico de la persona ganadora, el sorteo se realiza cuando el canal decide regalar premios a sus televidentes por su fiel sintonía. El segundo proyecto fue realizar un calendario para llevar un control acerca de los días y horas de uso de los estudios de grabación, de esta manera se evita el conflicto que las grabaciones coincidan y la persona encargada de llevar el control de dichas grabaciones tiene una mejor organización acerca de cada actividad.
        </h4>
        <h5>Proyectos personales y planes futuros</h5>
        <h4>
            Luego de finalizar mi práctica profesional, continué realizando proyectos de programación web a nivel personal para enriquecer mis conocimientos y mejorar mis habilidades, también me inscribo en cursos para mantenerme actualizado con las nuevas tecnologías.
        </h4>
        <h4>
            Soy una persona proactiva, tolerante, perseverante y apegado a las reglas en todo momento, siempre tengo buenas relaciones con mis compañeros de equipo al momento de trabajar en un proyecto.
        </h4>
    </div>
    <div class="contenedor-sobre-mi">
        <h2>Pasatiempos:</h2>
        <div class="img-musica-TV">
            <img src="/assets/netflix.png" alt="Ver Netflix">
            <img src="/assets/youtube.png" alt="Ver Netflix">
            <img src="/assets/jugar.jpg" alt="Jugar Videojuegos">
            <img src="/assets/COD.jpg" alt="Jugar Videojuegos">
            <img src="/assets/FH5.jpg" alt="Jugar Videojuegos">
            <img src="/assets/MK11.jpeg" alt="Jugar Videojuegos">
            <img src="/assets/tenis.jpg" alt="Jugar tenis">
            <img src="/assets/codificar.jpg" alt="Jugar tenis">
        </div>
    </div>
    <div class="contenedor-sobre-mi">
        <h2>Musica y Tv</h2>
        <div class="img-musica-TV">
            <img src="/assets/beach-Hause.jpg" alt="BH">
            <img src="/assets/SOAD.jpg" alt="SOAD">
            <img src="/assets/metalica.jpg" alt="Metalica">
            <img src="/assets/TheDoors.jpg" alt="The Doors">
            <img src="/assets/TWD.jpg" alt="TWD">
            <img src="/assets/naruto.jpg" alt="Anime">
            <img src="/assets/bobEsponja.jpg" alt="Series animadas">
            <img src="/assets/Kdrama.jpg" alt="Dramas coreanos">
        </div>
    </div>
</div>
