.contenedor-habilidades-frontend
    margin: 30px
    width: 50%
    border-radius: 10px
    display: flex
    background-color: #3b3a3987
    padding: 30px 10px 30px
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 1rem
    background: linear-gradient(91deg, #3435398c, transparent)
    box-shadow: 4px 3px 6px 0px #141212
    transition: 1s

.contenedor-habilidades-frontend:hover
    transition: 1s
    box-shadow: 4px 3px 6px 0px #141212

.contenedor-habilidades-backend
    margin: 30px
    width: 50%
    border-radius: 10px
    display: flex
    background-color: #3b3a3987
    padding: 30px 10px 30px
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 1rem
    background: linear-gradient(91deg, #292a2d, transparent)
    transition: 1s

.contenedor-habilidades-backend:hover
    transition: 1s
    box-shadow: 4px 3px 6px 0px #141212

.contenedor-habilidades-frontend img
    width: 40px

.contenedor-habilidades-backend img
    width: 40px

.iconos
    display: flex
    flex-direction: column
    align-items: center
    gap: .5rem

.linea
    background-color: #c9c9c95e
    width: 100%
    height: 1px
    margin: 20px 0

.contenedor
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

.img-contenedor-frontend
    display: flex
    justify-content: center

.img-contenedor-frontend img
    width: 50%
