body
    background: linear-gradient(100deg,#3a3c40, #121214)
    font-family: "Gill Sans", sans-serif
    font-size: 12px
    padding:0
    margin:0
    margin-left: 60px
    color: white
    min-height: 100vh
    transition: all .2s

.body-expanded
    margin-left: 210px !important

body.modo-claro
    background: linear-gradient(#fffbfb, #8b8b8b)
    color: black
    

body.modo-claro .sidemenu 
    background: linear-gradient(#fffbfb, #8b8b8b)
    color: black

body.modo-claro .menu-items
    color: black

body.modo-claro .title
    color: black

body.modo-claro .menu-btn .btn-hamburger
    background-color: black !important

body.modo-claro .menu-items .item.separator
    border-bottom: solid 1px rgb(79 72 72 / 28%) !important

body.modo-claro .header
    border-bottom: solid 1px rgb(79 72 72 / 28%) !important

body.modo-claro .profile
    border-bottom: solid 1px rgb(79 72 72 / 28%) !important

body.modo-claro .mat-mdc-card
    --mdc-elevated-card-container-color: #f1f1f3 !important
    box-shadow: 1px 1px 5px rgba(26 25 25 / 50%)

body.modo-claro .mat-mdc-card .mat-mdc-card-subtitle
    color: #252424ce !important

body.modo-claro .mat-mdc-card .mat-mdc-button:not(:disabled)
    color: #252424ce !important

body.modo-claro .experiencia-laboral
    color: #252424ce

body.modo-claro .linea
    background-color: rgb(101 98 98 / 37%)

body.modo-claro .contenedor-sobre-mi
    color: #252424ce

body.modo-claro h5
    color: #2856ad  !important

body.modo-claro .active 
    background-color: rgba(242 242 242 / 99%) !important


@media (max-width:650px) 
    body
        background-color: #36383b
        font-family: "Gill Sans", sans-serif
        font-size: 12px
        padding:0
        margin:0
        margin-left: 60px !important
        color: white
