body
    background-color: #36383b
    font-family: "Gill Sans", sans-serif
    font-size: 12px
    padding:0
    margin:0
    margin-left: 60px
    color: white
    transition: all 0.2s

.body-expanded
    margin-left: 210px !important

body.modo-claro
    background-color: #d7d7d7
    color: black
    

body.modo-claro #sidemenu 
    background: linear-gradient(#fffbfb, #8b8b8b)
    color: black

body.modo-claro #menu-items
    color: black

body.modo-claro .title
    color: black

body.modo-claro #menu-btn .btn-hamburger
    background-color: black !important

body.modo-claro #menu-items .item.separator
    border-bottom: solid 1px rgb(79 72 72 / 28%) !important

body.modo-claro #header
    border-bottom: solid 1px rgb(79 72 72 / 28%) !important

body.modo-claro #profile
    border-bottom: solid 1px rgb(79 72 72 / 28%) !important

body.modo-claro .mat-mdc-card
    --mdc-elevated-card-container-color: #f1f1f3 !important

body.modo-claro .mat-mdc-card .mat-mdc-card-subtitle
    color: #252424ce !important

body.modo-claro .mat-mdc-card .mat-mdc-button:not(:disabled)
    color: #252424ce !important

body.modo-claro .experiencia-laboral
    background-color: #f1f1f3
    color: #252424ce

@media (max-width:650px) 
    body
        background-color: #36383b
        font-family: "Gill Sans", sans-serif
        font-size: 12px
        padding:0
        margin:0
        margin-left: 60px !important
        color: white
