body
    background: linear-gradient(120deg, #1f1c2c, #3b3054, #4b4163, #6a6072, #c9c9c9)
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif !important
    font-size: 12px
    padding: 0
    margin: 0
    margin-left: 50px !important
    color: white
    min-height: 100vh
    transition: all .4s

.mat-h4, .mat-body-1, .mat-typography .mat-h4, .mat-typography .mat-body-1, .mat-typography h4
    font-size: 20px !important
    font-weight: 300 !important

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography
    font-size: 17px !important
    font-weight: 300 !important

.mat-h6, .mat-typography .mat-h6, .mat-typography h6
    color: #68a7e9

.body-expanded
    margin-left: 210px !important

body.modo-claro
    background: linear-gradient(344deg, #ffffff, #cfcfcf)
    color: black
    

body.modo-claro .sidemenu 
    background: linear-gradient(#fffbfb, #8b8b8b)
    color: black

body.modo-claro .menu-items
    color: black

body.modo-claro .title
    color: black

body.modo-claro .menu-btn .btn-hamburger
    background-color: black !important

body.modo-claro .menu-items .item.separator
    border-bottom: solid 1px rgb(79 72 72 / 28%) !important

body.modo-claro .header
    border-bottom: solid 1px rgb(79 72 72 / 28%) !important

body.modo-claro .profile
    border-bottom: solid 1px rgb(79 72 72 / 28%) !important

body.modo-claro .mat-mdc-card
    --mdc-elevated-card-container-color: #f1f1f3 !important
    box-shadow: 1px 1px 5px rgba(26 25 25 / 50%)

body.modo-claro .mat-mdc-card .mat-mdc-card-subtitle
    color: #252424ce !important

body.modo-claro .mat-mdc-card .mat-mdc-button:not(:disabled)
    color: #252424ce !important

body.modo-claro .experiencia-laboral
    color: #252424ce

body.modo-claro .linea
    background-color: rgb(101 98 98 / 37%)

body.modo-claro .contenedor-sobre-mi
    color: #252424ce

body.modo-claro h5
    color: #2856ad  !important

body.modo-claro h1
    color: #3a3a3a  !important

body.modo-claro .active 
    background-color: rgba(242 242 242 / 99%) !important

body.modo-claro .contenedor-habilidades-frontend
    background: linear-gradient(91deg, rgb(149 149 214 / 55%), transparent)

body.modo-claro .contenedor-habilidades-backend
    background: linear-gradient(91deg, rgb(149 149 214 / 55%), transparent)

body.modo-claro .experiencia-laboral h4
    color: #fb5768 !important

body.modo-claro .experiencia-laboral h6
    color: #009688 !important

body.modo-claro .div1
    background-color: rgb(113 173 103) !important

body.modo-claro .div2
    background-color: rgb(247 40 17 / 74%) !important

.cdk-overlay-pane
    overflow-y: auto !important

.mat-drawer-container
    background-color: black !important

.mat-drawer-inner-container 
    width: 100% !important
    height: 100% !important
    overflow: auto !important
    display: flex !important
    flex-direction: column !important
    gap: 1rem
    flex-wrap: nowrap !important
    justify-content: flex-start !important
    align-items: center !important

.mat-drawer.mat-drawer-side
    background-color: #151515 !important

.mat-drawer.mat-drawer-side 
    z-index: 2 !important
    box-shadow: -5px 0px 17px 4px #616553 !important

@media (max-width:650px) 
    body
        background-color: #36383b
        font-family: "Gill Sans", sans-serif
        font-size: 12px
        padding:0
        margin:0
        margin-left: 60px !important
        color: white
        margin-left: 50px !important

    body.modo-claro .div1
        background-color: transparent !important

    body.modo-claro .div2
        background-color: transparent !important

@media (max-width:950px) 
    body.modo-claro .div1
        background-color: transparent !important

    body.modo-claro .div2
        background-color: transparent !important

@media (max-width:750px) 
    body.modo-claro .div1
        background-color: transparent !important

    body.modo-claro .div2
        background-color: transparent !important