<div class="contenedor">
    <div class="linea mt-5"></div>
    <div>
        <h1>Proyectos en proceso</h1>
    </div>
    <div class="linea mt-5"></div>
</div>
<div class="parent">
    <div class="div1"> 
        <div class="proyecto-1">
            <div>
                <h2>Proyecto E-commerce</h2>
                <h4>Stack: MEJN</h4>
                <p>Proyecto personal para enriquecer y reforzar conocimientos fundamentales del desarrollo web, se realizó con un compañero en equipo 
                    aplicando metodologias águiles como Scrum y Kanban (uso de trello).
                </p>
            </div>
            <div class="ver-proyecto">
                <img src="/assets/Login-Ecomerce.webp">
                <button mat-raised-button color="primary">Ver proyecto</button>
            </div>
        </div>
    </div>

    <div class="div2">
        <div class="proyecto-2">
            <div class="ver-proyecto">
                <img src="/assets/login-otaku.webp">
                <button mat-raised-button color="primary">Ver proyecto</button>
            </div>
            <div>
                <h2>Test de preguntas anime (Juego)</h2>
                <h4>Stack: MERT</h4>
                <p>Proyecto realizado para expandir los conocimientos en desarrollo frontend y backend, con TypeScript se configuró un Rest API para el contenido de las preguntas y respuestas,
                    se consumió ese servicio con en el framework ReactJS o libreria para muchos, se utilizó una base de datos en la nube con mongoDb atlas. La aplicación se utiliza en el programa de Tv. PowerUp, para regalar premios al mas conocedor sobre el anime y manga.
                </p>
            </div>
        </div>
    </div>
</div>
